.my-masonry {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.my-masonry:hover {
    cursor: pointer;
}
.my-masnry-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgb(9, 9, 10, 0.8), transparent 100%);
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}
.my-masnry-user-box {
    width: 100%;
    padding: 0 20px;
    column-gap: 20px;
    margin-bottom: -80px;
    transition: .5s;
}
.my-masnry-user-prof {
    width: 45px;
    height: 45px;
}
.my-masnry-user-prof img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.my-masnry-user-prof-desc {
    row-gap: 5px;
    font-size: 0.4rem;
    text-transform: capitalize;
    margin-top: 50px;
}
.my-masnry-user-prof-desc h1 {
    color: var(--bs-green);
    font-size: 1.5rem;

}
.my-masnry-user-prof-desc h3 {
    color: var(--bs-light);
    font-size: 1.4rem;
}
.my-masonry:hover .my-masnry-description {
    visibility: visible;
    opacity: 1;
}
.my-masonry:hover .my-masnry-user-box {
    margin-bottom: 15px;
}

.arrows{
    color: rgba(160, 157, 161, 0);
    font-size: 3em;
    border-style: none;
    background: none;
    transition: all .3s ease-in;

}
.arrows:hover {
    color: #ffffff;
    transition: all .3s ease-in;
}

.wholebox{
    padding-left: 100%;
    padding-right: 100%;
}

.wholebox:hover .arrows{
    color: #7a787a;
    transition: all .3s ease-in;
}
.close-arrow {
    margin-right: 10px;
    color: rgba(160, 157, 161, 0.32);
    font-size: 2em;
    background: none;
    border: none;
}

.close-arrow:hover {
    color:  rgba(160, 157, 161, 1);
    transition: all .1s ease-in;
}